<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a213_project5_stanley_and_matthew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RU CAFE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.213project5StanleyandMatthew">
        <activity
            android:name=".ItemSelectedActivity"
            android:label="Order Donuts"
            android:parentActivityName=".OrderCoffee"
            android:exported="false" />
        <activity android:name=".OrderDonuts"
            android:label="Donuts"/>
        <activity android:name=".OrderCoffee"
            android:label="Coffee"/>
        <activity android:name=".CurrentOrder"
            android:label="Your Order"/>
        <activity android:name=".OrdersList"
            android:label="Store Orders"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>